.app-title {
    text-align: center;
}

.app-body {
    display: flex;
    flex-direction: column;
}

.info-main {
    width: 100vw;
    height: 80vh;
    border: 1px solid black;
}

#wine-table {
    width: 100%;
}

.table-header {
    display: flex;
    justify-content: space-around;
    background-color: green;
    width: 100%;
}

th {
    border: 1px solid black;
    text-align: center;
}

tr {
    text-align: center;
    z-index: 5;
}

td {
    border: 1px solid black;
    z-index: -5;
}

.info-sidebar {
    width: 100vw;
    height: 20vh;
    bottom: 0;
    border: 1px solid black;
    position: fixed;
    background-color: white;
}